/*Объявление класса container для задания его стилей*/
body {
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font:'Roboto';
    src:url('fonts\Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font:'Roboto';
    src:url('fonts\Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}
.container{
    max-width: 1030px;
    margin: auto;
}
/*Таблица*/
.movie-list__header{
    color:#252525; 
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 110px; /*Величина отступа*/
    margin-bottom: 63px; /* Величина отступа нижнего края*/
}
.movie-list__table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /*Устанавливает, как отображать границы вокруг ячеек таблицы: 1 линия*/
    text-align: center;
    border-radius: 15px; /*радиус скругления уголков рамки*/
    overflow: hidden; /*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров*/
    vertical-align: super; /*Выравнивает элемент по вертикали*/
    width: 80%; /*Ширина блочных элементов*/
}
.movie-list__table tbody tr:nth-child(2n+1) {
    background: #6c6c6c;
}
.movie-list__table td{
    padding-top: 16px;
    padding-bottom: 16px;
}
.movie-list__table thead{
    color: white;
    background: #a3cc40;
    font-size: 22px;
    font-weight: 700;
    line-height: 11px; /*межстрочный интервал*/
    vertical-align: super;
}
.movie-list__table tbody, tfoot{
    font-size: 22px;
    color: white;
    vertical-align: super;
    background: #373737;
} 
.movie-list__table a {
    color: white;
}

/* Стрелки*/
.arrow-up{
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 19px solid white;
    transform: translate(183px, -12px);
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 19px solid white;
    transform: translate(294px, -12px);
}
