/*Объявление класса container для задания его стилей*/
body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    max-width: 1920px;
    -webkit-text-size-adjust: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*Первый экран:начало*/
/*Фон*/
.first_page{
    background: url(../image/background.png) no-repeat top center / cover;
    min-height: 190vh;
    margin: auto;
}
/*Логотип*/
.image-logo{
    display: inline-block;
    padding-top: 45px;
    margin-left: 192px;
    margin-bottom: -16px;
    box-sizing: border-box;
}

/*Меню*/
.block__nav li{
    display: inline-block;
    text-align: right;
    margin-left:681px;
    margin-top: -36px;
    box-sizing: border-box;
}
.block__nav li+li{
    margin-left: 44px;
}
.block__nav a{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    transition: 0.2s;
}
.block__nav a:hover{
    color:#90d23d;
}

/*Выбор города*/
.city{
    color: white;
    text-align: right;
    margin-right: 86px;
    margin-top: -16px;
}
.city a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;
    transition: 0.2s;
}
.city a:hover{
    color:#90d23d;
}

/*Заголовок и подзаголовок*/
.Pay__tickets{
    text-align: center;
    color: white;
    font: 'Roboto-Thin' sans-serif;
    margin-top: 200px;
}
.Pay__tickets h1{
    font-size: 80px;
    font-weight: 100;
}
.Pay__tickets h2{
    font-size: 50px;
}

/*Первый экран:Конец*/

/*Второй экран:Начало*/
.welcome{
    text-align: left;
    width: 420px;
    height: 233px;
    padding-top: 40px;
    padding: 34px;
    padding-right: 115px;
    margin-left: 753px;
    margin-top: -187px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.welcome h2{
    font-size: 44px;
    font-weight: 700;
    line-height: 1.5;
}
.welcome p1, p2{
    font-size: 14px;
    margin-top: 36px;
    line-height: 1.5;
}

/*Второй экран:Конец*/


/*Третий экран:Начало*/
/*Таблица*/
.container{
    max-width: 1030px;
    margin: auto;
}
.movie-list__header{
    color:#252525; 
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 110px; /*Величина отступа*/
    margin-bottom: 63px; /* Величина отступа нижнего края*/
}

.movie-list__table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /*Устанавливает, как отображать границы вокруг ячеек таблицы: 1 линия*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; /*управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров*/
    vertical-align: super; /*Выравнивает элемент по вертикали*/
    width: 80%; /*Ширина блочных элементов*/
}

.movie-list__table thead{
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 11px; /*межстрочный интервал*/
    vertical-align: super;
    text-align: center;
    background: #a3cc40;
}
.movie-list__table tbody {
    font-size: 22px;
    color: white;
    vertical-align: super;
    background: #373737;
    text-align: left;
    text-indent: 36px;
} 

.movie-list__table td{
    padding-top: 22px;
    padding-bottom: 14px;
}
.movie-list__table a {
    color: white;
}
.movie-list__table tbody tr:nth-child(2n+1) {
    background: #6c6c6c;
}

.movie-list__table tbody tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
    overflow: hidden;
}
.movie-list__table tbody tr:last-child td:last-child{
    border-bottom-right-radius: 15px;
    overflow: hidden;
}

.movie-list__table tfoot{
    background: white;
    color: black;
    font-size: 14px;
}

/* Стрелки на заголовке таблицы*/
.sort__arrow {
    display: inline-block;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    width: 0; 
    height: 0; 
}
.sort__arrow-up{
    border-bottom: 19px solid white;  
}
.sort__arrow-down {
    border-top: 19px solid white;
}
/*Третий экран:Конец*/
